/* Enter your custom styles here */

/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

.chessBoard {
    /*visibility: hidden;*/
    width: 20vw;
    height: 20vw; 
    /* width: 400px;
    height: 400px; */
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black inset;
}

.square {
    /* visibility: hidden; */
    width: 12.5%;
    height: 12.5%;
    /* width: 50px;
    height: 50px; */
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 0px 0.4px rgb(9, 0, 0) inset;
}

.white {
    /*visibility: hidden;*/
    background-color: #f0d9b5;
}

.black {
    /*visibility: hidden;*/
    background-color: #b58863;
}

.square div {
    /* visibility: hidden; */
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.piece {
    /* visibility: hidden; */
    max-width: 100%;
    width: 100%;
    height: auto;
}

.hide {
    display: none;
} 

.drag-over {
    border: dashed 3px red;
}

/* When the device's screen size is bigger than or equal to 600 pixels,
   the chess board will be 600 pixels wide and 600 pixels tall */
@media (min-width:600px) {
    .chessBoard {
        width: 600px;
        height: 600px;
    }
}

@media (max-width:600px) {
    .coordinate {
        font-size: 8px;
    }
}
